<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Disable static file handler for all requests -->
    <handlers>
      <clear />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
      <add name="StaticFile" path="*" verb="*" modules="ProtocolSupportModule" resourceType="Unspecified" requireAccess="None" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Proxy all requests to Next.js -->
        <rule name="ProxyToNext" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="http://localhost:3000/{R:0}" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
    
    <httpErrors existingResponse="PassThrough" />
    
    <!-- Disable directory browsing -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
